@import "primeicons/primeicons.css";



body, #app-root {
  background-color:  rgba(255, 182, 193, 0.39);
  color: black;
}

body.dark-theme, #app-root.dark-theme {
  background-color: #1a1a1a; /* dark */
  color: white;
}
