<div class=" nouveautes-card">
  <div class=" d-flex justify-content-between align-items-center">
    <h1>Nouveautés</h1>
    <div class="d-flex align-items-center gap-2">
      <button pButton *ngIf="!isHosted" label="Ajouter" icon="pi pi-plus" (click)="onAjouter()" [rounded]="true"
        [text]="true" [raised]="true"></button>
    </div>
  </div>

  <p-carousel [value]="nouveautes || []" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="0"
    [showNavigators]="true" [showIndicators]="true" [responsiveOptions]="responsiveOptions">
      <ng-template let-nouv pTemplate="item">
        <div class="pub-card" style="position: relative; cursor: pointer;" (click)="showDetails(nouv.id_nouv)">
          <span class="badge" [ngClass]="{'bg-success': isNewPublication(nouv?.date_publication) }"> Nouveau</span>

          <div class="image-container position-relative">
            <img [src]="nouv.couverture " [alt]=" nouv.titre " class="pub-image" />
          </div>

          <footer class="d-flex align-items-center justify-content-between position-relative">
            <div class="d-flex align-items-center gap-2">
              <div class="pub-date">{{ nouv.date_publication | date:'mediumDate' }}</div>
            </div>
            <button pButton *ngIf="!isHosted" icon="pi pi-trash" (click)="onSupprimer(nouv.id_nouv)" [rounded]="true"
              severity="danger" [text]="true" class="trash-btn"></button>
          </footer>


        </div>
      </ng-template>
  </p-carousel>
</div>