.cardcontainer {
  perspective: 1000px;
  cursor: pointer;
  width: 100%;
  height: 320px;
  position: relative;
  margin-right: 100px;
}

.inner-card {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  
}

.cardcontainer.flipped .inner-card {
  transform: rotateY(180deg);
}

.frontcard, .backcard {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background: white;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frontcard {
  z-index: 2;
}

.backcard {
  transform: rotateY(180deg);
  justify-content: center;
  padding: 15px;
  flex-direction: column;
}

.badge-top-left {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10;
}

.front-left {
  flex: 2;
  border-right: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  font-size: 1.1rem;
  color: var(--primary-color, #1976d2);
  flex-direction: column;
}

.countdown {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}


.front-right {
  flex: 5;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: left;
}
@media (max-width: 374px) {
  .frontcard {
    display: flex !important;
    flex-direction: column !important;
    padding: 0.5rem !important;
  }

  .front-left {
    border-right: none !important;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0 !important;
    flex: none !important;
    width: 100% !important;
    justify-content: center !important;
  }

  .front-right {
    padding-left: 0 !important;
    width: 100% !important;
    margin-top: 0.5rem;
    flex: none !important;
  }
}
