.theme-toggle-container {
  position: fixed;   /* pour rester visible même en scroll */
  top: 20px;         /* position verticale (ajuster selon votre nav) */
  right: 250px;       /* position horizontale, devant à droite */
  z-index: 1050;     /* au-dessus de la nav et autres composants */
  background: var(--surface-ground); /* fond selon thème (optionnel) */
  border-radius: 20px;
  cursor: pointer;
}

.theme-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}


.theme-icon {
  z-index: 2;
  font-size: 14px;
  transition: opacity 0.3s ease;
  opacity: 0.7;
}

.theme-icon.active {
  opacity: 1;
}

.theme-icon.active {
  opacity: 1;
    transform: scale(1.2);
  color: #f0a500;
}

.slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  transition: left 0.3s ease;
}

.slider.dark {
  left: 34px;
}
