<!--<div class="theme-toggle-container">
    <div pRipple class="theme-toggle d-flex align-items-center justify-content-between px-2"
      (click)="toggleTheme()">
      <span class="theme-icon" [ngClass]="{'active': !isDarkMode}">
        <i class="pi pi-sun"></i>
      </span>
      <span class="theme-icon" [ngClass]="{'active': isDarkMode}">
        <i class="pi pi-moon"></i>
      </span>
      <span class="slider" [ngClass]="{'dark': isDarkMode}"></span>
    </div>
  </div>-->
 <!-- <p-button
  [icon]="themeService.themeSubject.value === 'light' ? 'pi pi-moon' : 'pi pi-sun'"
  styleClass="p-button-rounded p-button-text"
  (onClick)="themeService.toggleTheme()"
  pRipple
></p-button>-->