<div class="d-flex justify-content-center align-items-center min-vh-100 p-3">
    <div class="rounded-4 shadow p-5"
        style="background-color: rgba(195, 242, 191, 0.188); width: 100%; max-width: 800px;">
        <h1 class="text-center fw-bold mb-4">Modifier Livre</h1>

        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="row ">
                <div class="col-12 mb-3">
                    <label class="form-label font-bold mb-2 w-100" for="typeMembre">Staut Livre *</label>
                    <p-select id="typeMembre" [options]="selectStatutLiv" [(ngModel)]="Liv.statut" class="w-100"
                        name="typeMembre" required placeholder="Select type membre" [autoDisplayFirst]="false">
                    </p-select>

                </div>
            </div>

            <div class="row ">
                <div class="col-12 mb-3">
                    <label class="form-label font-bold mb-2 w-100" for="typeMembre">Etat livre*</label>
                    <p-select id="typeMembre" [options]="selectetatLiv" [(ngModel)]="Liv.etat" class="w-100"
                        name="typeMembre" required placeholder="Select type membre" [autoDisplayFirst]="false">
                    </p-select>

                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-3">
                    <label for="cote" class="form-label">Cote Livre *</label>
                        <p-iconfield>
                            <p-inputicon class="pi pi-barcode" />
                            <input pInputText id="cote" type="text" [(ngModel)]="Liv.cote_liv" class="w-100"
                                name="cote_liv" placeholder="Ex: A39-B12"  required>
                        </p-iconfield>
                </div>
            </div>

    <div class="d-flex justify-content-between mt-4">
        <button type="button" pButton label="Annuler" icon="pi pi-times" class="p-button-secondary"
            routerLink="/bibliothecaire/livres"></button>
        <button type="submit" pButton label="Enregistrer" icon="pi pi-check" class="p-button-success"></button>
    </div>
    </form>
</div>
</div>