<p-drawer header="Profil" [(visible)]="visible" position="right" [dismissible]="true" (onHide)="onDrawerHide()">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center gap-2">
      <i class="pi pi-user"></i>
    </div>
  </ng-template>

  <form #formProfil="ngForm" (ngSubmit)="modifier()" autocomplete="off" novalidate>
    <div class="p-4 d-flex flex-column gap-4">
      <div class="row g-3">
    
        <div class=" col-6">
          <label class="block mb-2 font-medium">Nom</label>
        <input pInputText  *ngIf="!isEditing"  disabled [(ngModel)]="profile.nom" name="nom" class="m-0 w-100">
        <input pInputText  *ngIf="isEditing"  [(ngModel)]="uprofil.nom" name="nom" class="m-0 w-100" >
        </div>
                <div class=" col-6">
          <label class="block mb-2 font-medium">Prénom</label>
        <input pInputText  *ngIf="!isEditing"  disabled [(ngModel)]="profile.prenom" name="prenom" class="m-0 w-100">
        <input pInputText  *ngIf="isEditing"  [(ngModel)]="uprofil.prenom" name="prenom" class="m-0 w-100" >
        </div>

        <div class="field">
          <label class="block mb-2 font-medium">Email</label>
        <input pInputText type="email" *ngIf="!isEditing"  disabled [(ngModel)]="profile.email" name="email" class="m-0 w-full">
        <input pInputText type="email" *ngIf="isEditing"  [(ngModel)]="uprofil.email" name="email" class="m-0 w-full" >
        </div>

        <div class="field">
          <label class="block mb-2 font-medium">Téléphone</label>
        <input pInputText type="tel" *ngIf="!isEditing"  disabled [(ngModel)]="profile.telephone" name="telfn" class="m-0 w-full">
        <input pInputText type="tel" *ngIf="isEditing"  [(ngModel)]="uprofil.telephone" name="telfn" class="m-0 w-full" >
        </div>


        <div *ngIf="isEditing" class="field">
          <label class="block mb-2 font-medium">Ancien Mot de passe</label>
        <input pInputText type="password"   [(ngModel)]="uprofil.ancienMotDePasse" name="ancienMotDePasse" class="m-0 w-full" >
        </div>
                <div *ngIf="isEditing && uprofil.ancienMotDePasse!=null" class="field">
          <label class="block mb-2 font-medium">Nouveau mot de passe</label>
        <input pInputText type="password"   [(ngModel)]="uprofil.nouveauMotDePasse" name="nouveauMotDePasse" class="m-0 w-full" >
        </div>


        </div>
<div class="footer">
  <div class="d-flex justify-content-between">
    <button *ngIf="!isEditing" pButton label="Modifier" icon="pi pi-pencil" type="button" (click)="startEditing()"></button>
    <div *ngIf="isEditing" class="d-flex gap-2">
      <button pButton label="Annuler" severity="secondary" type="button" (click)="cancelEditing()" ></button>
      <button pButton label="Enregistrer" type="submit"></button>
    </div>
  </div>
</div>

    </div>
  </form>
</p-drawer>
