<div class="d-flex justify-content-center align-items-center min-vh-100 p-3">
  <div class="rounded-4 shadow" style="background-color: rgba(230, 198, 222, 0.188); width: 100%; max-width: 500px; z-index: 10;">
    <div class="header p-5 pb-4 border-bottom-0">
      <button pButton icon="pi pi-home" routerLink="/" type="button" [rounded]="true" [text]="true" [raised]="true"
        size="large"></button>
      <h1 class="text-center fw-bold">Login</h1>
    </div>

    <div class="p-5 pt-0">
      <form #loginForm="ngForm" (ngSubmit)="OnLogin()" novalidate>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <span class=" w-100">
            <p-iconfield>
              <p-inputicon class="pi pi-envelope" />
              <input pInputText id="email" type="email" [(ngModel)]="loginObj.email" class="w-100" name="email"
                placeholder="name@example.com" #email="ngModel" />
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">Email is required.</div>
                <div *ngIf="email.errors?.['email']">Enter a valid email.</div>
              </div>
            </p-iconfield>
          </span>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <span class=" w-100">
            <p-iconfield>
              <p-inputicon class="pi pi-lock" />
              <input pInputText id="password" [(ngModel)]="loginObj.password" type="password" class="w-100"
                name="password" placeholder="password" #pwd="ngModel" />
              <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="text-danger">
                <div *ngIf="pwd.errors?.['required']">Password is required.</div>
              </div>
            </p-iconfield>
          </span>
        </div>
        <div class="row"> <button pButton label="Login" styleClass="w-100" type="submit" [raised]="true"
            [disabled]="loginForm.invalid || isLoading"></button></div>
        <small class="text-body-secondary d-block text-center">
          <a routerLink="../motDePasseOublie">Mot de Passe Oubliée</a>
        </small>
      </form>
    </div>
  </div>
</div>