<div class="d-flex justify-content-center align-items-center min-vh-100 p-3">
    <div class="rounded-4 shadow p-5"
        style="background-color: rgba(195, 242, 191, 0.188); width: 100%; max-width: 800px;">
        <h1 class="text-center fw-bold mb-4">Ajouter Emprunt</h1>
        <form #formEmprunt="ngForm" (ngSubmit)="Ajouter()" autocomplete="off" novalidate>

            <!-- Ligne 1 : CIN ou Passeport -->
            <div class="row mb-3">
                <div class="col-12">
                    <label for="cin" class="form-label font-bold mb-2">CIN ou Passeport *</label>
                    <input pInputText id="cin" [(ngModel)]="emprunt.cin_ou_passeport" name="cin" required autofocus
                        (ngModelChange)="onCinChange($event)" [readonly]="false" class="w-100" #cinCtrl="ngModel" />
                    <div *ngIf="cinCtrl.invalid && cinCtrl.touched" class="text-danger small mt-1">
                        CIN est requis
                    </div>
                </div>
            </div>
            <div *ngIf="emprunt.cin_ou_passeport.length>=6">
                <!-- Ligne 2 : Type Emprunteur à gauche (6 colonnes), Nom + Prénom à droite (chaque 3 colonnes) -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="typeEmprunteur" class="form-label">Type d'Emprunteur *</label>
                        <p-select [options]="selecttypeMemb" [(ngModel)]="emprunt.typeMembre" name="typeEmprunteur"
                            optionLabel="label" optionValue="value" class="w-100" [readonly]="isCinInvalid"
                            [autoDisplayFirst]="false" placeholder="Sélectionnez un type" required #typeCtrl="ngModel">
                        </p-select>

                        <div *ngIf="typeCtrl.invalid && typeCtrl.touched" class="text-danger small mt-1">
                            Type d'emprunteur requis
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="nom" class="form-label">Nom *</label>
                        <input pInputText id="nom" [(ngModel)]="emprunt.nom" name="nom" required
                            [readonly]="isCinInvalid" class="w-100" placeholder="Nom" #nomCtrl="ngModel" />
                        <div *ngIf="nomCtrl.invalid && nomCtrl.touched" class="text-danger small mt-1">
                            Nom requis
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="prenom" class="form-label">Prénom *</label>
                        <input pInputText id="prenom" [(ngModel)]="emprunt.prenom" name="prenom" required
                            [readonly]="isCinInvalid" class="w-100" placeholder="Prénom" #prenomCtrl="ngModel" />
                        <div *ngIf="prenomCtrl.invalid && prenomCtrl.touched" class="text-danger small mt-1">
                            Prénom requis
                        </div>
                    </div>
                </div>

                <!-- Ligne 3 : Email à gauche (6 colonnes) et Téléphone à droite (6 colonnes) -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email d'Emprunteur *</label>
                        <input pInputText id="email" [(ngModel)]="emprunt.email" name="email" type="email" class="w-100"
                            [disabled]="isCinInvalid" placeholder="exemple@exemple.com" required
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #mailCtrl="ngModel" />
                        <div *ngIf="mailCtrl.invalid && (mailCtrl.touched || formEmprunt.submitted)"
                            class="text-danger small mt-1">
                            <div *ngIf="mailCtrl.errors?.['required']">Email est requis.</div>
                            <div *ngIf="mailCtrl.errors?.['pattern']">L'email n'est pas valide.</div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <label for="telephone" class="form-label">Téléphone</label>
                        <input pInputText id="telephone" [(ngModel)]="emprunt.telephone" name="telephone" type="tel"
                            [readonly]="isCinInvalid" class="w-100" placeholder="Ex: +216 98 345 678" />
                    </div>
                </div>
            </div>
            <!-- Ligne 4 : Notes pleine largeur -->
            <div class="row mb-3">
                <div class="col-12">
                    <label for="notes" class="form-label">Notes</label>
                    <textarea id="notes" pInputTextarea [(ngModel)]="emprunt.note" name="notes" rows="3" class="w-100"
                        placeholder="Ajoutez des notes ici..." [readonly]="false"></textarea>
                </div>
            </div>

            <!-- Boutons d'action -->
            <div class="d-flex justify-content-between mt-4">
                <button type="reset" pButton label="Annuler" icon="pi pi-times" class="p-button-secondary"
                    routerLink="/bibliothecaire/livres"></button>
                <button type="submit" pButton label="Enregistrer" icon="pi pi-check" class="p-button-success"
                    [disabled]="formEmprunt.invalid"></button>
            </div>

        </form>
    </div>
</div>