<header [ngClass]="{'sticky': isSticky, 'rounded': !isSticky}" class="header-container">
  <div class="d-flex justify-content-between align-items-center p-3">
    <!-- Left side -->
    <div class="start-1">
      <a routerLink="/bibliothecaire/">
        <img src="images/iconPg.png" alt="Logo" height="40" />
      </a>

      <button pButton icon="pi pi-bars" class="p-button-text d-lg-none mobile-menu-button"
        (click)="drawerVisible = true" aria-label="Menu"></button>
      <div class="desktop-menu">
        <button pButton icon="pi pi-book" label="Livres" class="p-button-text "
          routerLink="/bibliothecaire/livres"></button>
        <button pButton icon="pi pi-inbox" label="Emprunts" class="p-button-text"
          routerLink="/bibliothecaire/emprunts"></button>
        <button pButton icon="pi pi-ban" label="Sanctions" class="p-button-text"
          routerLink="/bibliothecaire/sanctions"></button>
        <button pButton icon="pi pi-address-book" label="Membres" class="p-button-text"
          routerLink="/bibliothecaire/membres"></button>
        <button pButton icon="pi pi-sparkles" label="Nouveautes" class="p-button-text"
          routerLink="/bibliothecaire/nouveaute"></button>
      </div>
    </div>
    <!-- Right side -->
    <div class="position-absolute  end-0 ">
      <button pButton icon="pi pi-cog" class="w-full p-button-text " (click)="showParametres()"></button>
<button pButton icon="pi pi-bell" rounded="true" class="p-button-text" (click)="onBellClick($event)">
  <span *ngIf="unreadCount > 0" class="notification-badge">{{ unreadCount }}</span>
</button>


      <button pButton icon="pi pi-sign-out" severity="danger" class="p-button-text"
        [ngClass]="{'p-button-sm': isSticky}" routerLink="/"></button>
    </div>
  </div>
</header>

<app-notification  #notificationComp (unreadCountChange)="onUnreadCountChange($event)"></app-notification>
<app-parametre [(visible)]="showParametre"></app-parametre>
<app-profil [(visible)]="showProfil"></app-profil>


<!-- Drawer with vertical list and profile -->
<p-drawer [(visible)]="drawerVisible" position="left" class="w-20rem" [modal]="true" (onHide)="drawerVisible = false">
  <div class="p-3">

    <button pButton icon="pi pi-book" label="Livres" class=" p-button-text" routerLink="/bibliothecaire/livres"
      (click)="drawerVisible = false"></button>
    <button pButton icon="pi pi-inbox" label="Emprunts" class=" p-button-text" routerLink="/bibliothecaire/emprunts"
      (click)="drawerVisible = false"></button>
    <button pButton icon="pi pi-ban" label="Sanctions" class="w-full mb-2 p-button-text"
      routerLink="/bibliothecaire/sanctions" (click)="drawerVisible = false"></button>
    <button pButton icon="pi pi-address-book" label="Membres" class="w-full mb-2 p-button-text"
      routerLink="/bibliothecaire/membres" (click)="drawerVisible = false"></button>
    <button pButton icon="pi pi-sparkles" label="Nouveautés" class="w-full mb-2 p-button-text"
      routerLink="/bibliothecaire/nouveaute" (click)="drawerVisible = false"></button>
    <button pButton icon="pi pi-user" label="Profil" class="w-full mb-2 p-button-text"
      (click)="showProfile(); drawerVisible = false"></button>
  </div>
</p-drawer>


<div class="child-container">
  <router-outlet></router-outlet>
</div>
@if (isSticky) {
<button pButton icon="pi pi-arrow-up" class="p-button-rounded back-to-top" pRipple (click)="scrollToTop()"></button>
}