<!-- emprunt-cards.component.html -->
<div class="card-container">
    <div class="card" *ngFor="let e of emprunts; let i = index" [class.flipped]="flipped[i]" (click)="toggleFlip(i)"
        [style.height.px]="maxHeight">
        <!-- Front face -->
        <div class="card-face card-front">
            <span class=" badge" [ngClass]="{'badge-warning':e.statut_emp===0,
                'badge-success':e.statut_emp===1,
                'badge-danger':e.statut_emp===2,
            } ">
                {{ getStatutLabel(e.statut_emp )}}
            </span>
            <div class="section1">
                <div class="countdown">
                    <div class="countdown-item">
                        <span class="countdown-number">{{ days }}</span>
                        <span class="countdown-label">days</span>
                    </div>
                    <div class="countdown-item">
                        <span class="countdown-number">{{ hours }}</span>
                        <span class="countdown-label">hours</span>
                    </div>
                    <div class="countdown-item">
                        <span class="countdown-number">{{ minutes }}</span>
                        <span class="countdown-label">minutes</span>
                    </div>
                    <div class="countdown-item">
                        <span class="countdown-number">{{ seconds }}</span>
                        <span class="countdown-label">seconds</span>
                    </div>
                </div>

            </div>
            <div class="section2">
                <div class="line1">
                    <span class="type-icon">{{ getMemberIcon(e.typeMembre) }}</span>
                    <span class="name">{{ e.nom || '' }} {{ e.prenom || '' }}</span>
                </div>
                <div class="line2">
                    <span class="title">{{ e.titre }}</span>
                    <span class="cote">{{ e.cote_liv }}</span>
                </div>
                <div class="line3">
                    <span class="phone">{{ e.telephone || '-' }}</span>
                    <span class="cin">{{ e.cin_ou_passeport }}</span>
                </div>
            </div>
        </div>

        <!-- Back face -->
        <div class="card-face card-back">
            <div class="line1">{{ e.email }}</div>
            <div class="line2">
                {{ e.editeur }} | {{ e.date_edition }}
            </div>
            <div class="line3">{{ e.id_inv }}</div>
            <div class="line4 note">{{ e.note || '-' }}</div>
        </div>
    </div>
</div>